---
layout: base
title: Olivier Dolbeau - Blog
description: Olivier Dolbeau blog. Contains technical articles, mainly about PHP & Symfony2
---

<h1>Posts</h1>

<ul>
    {% for post in site.posts %}
        {% if post.layout != 'old_post' %}
            <li>
                <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date_to_long_string }}</time> »
                {% if 'fr' == post.lang %}
                    <img src="/assets/images/french_flag.png" height="12px" width="12px" />
                {% endif %}
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
    <li><a href="/archived.html">Archived posts</a></li>
</ul>

<h1>Talks</h1>
<ul>
    <li>
        <a href="https://speakerdeck.com/odolbeau/asynchronous-tasks-in-php">
            Asynchronous tasks in PHP
        </a> - PHPTour Lyon, 24 June 2014
    </li>
    <li>
        <a href="https://speakerdeck.com/odolbeau/doctrine-lexer-use-case">
            Doctrine Lexer use case
        </a> - PHPTour Lyon, 24 June 2014
    </li>
    <li>
        <a href="https://speakerdeck.com/odolbeau/making-asynchronous-tasks-in-php">
            Swarrot - a library to consume them all
        </a> - sfLive Paris, 7 April 2014 (Lightning talk)
    </li>
    <li>
        <a href="https://speakerdeck.com/odolbeau/making-asynchronous-tasks-in-php">
            Making asynchronous tasks in PHP - The easy way
        </a> - sfLive Paris, 7 April 2014 (with <a href="http://blog.lyrixx.info/">Lyrixx</a>)
    </li>
    <li>
        <a href="https://speakerdeck.com/odolbeau/3-millions-users-in-10-countries-techincal-history-of-blablacar">
            3 millions users in 10 countries: Technical history of BlaBlaCar
        </a> - ForumPHP Paris, 21 November 2013
    </li>
    <li>
        <a href="https://speakerdeck.com/odolbeau/retour-dexperience-sur-lutilisation-de-rabbitmq-chez-blablacar">
            <img src="/assets/images/french_flag.png" height="12px" width="12px" />
            Retour d'expérience sur l'utilisation de RabbitMQ chez BlaBlaCar
        </a> - sfPot Paris, 13 March 2013
    </li>
</ul>
