/* Global */
body {
    font: 16px/1.5em "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;;
    color: #555;
    margin: 0;
    border-top: 4px solid #3C3C3C;
}

/* Links */
a {
    color: #838C1C;
    text-decoration: none;
}
a:hover {
    color: #A8B326;
    text-decoration: underline;
}

/* Listes */
ul {
    list-style-type: circle;
    padding: 0 0 0 30px;
    margin: 0 0 15px 0;
}

/* Titles */
h1 {
    font: bold 1.6em Arial,sans-serif;
    color: #111;
    margin: 0 0 10px;
}
h2 {
    font: bold 1.4em Arial,sans-serif;
    color: #222;
}
h3 {
    font: bold 1.1em Arial,sans-serif;
    color: #444;
}

/* Paragraphes */
p {
    margin: 0 0 15px 0;
}
p.meta {
    font: normal 0.7em "Trebuchet MS", Tahoma, sans-serif;
    color: #868686;
}

/* Images */
div.img-container-small, div.img-container-medium, div.img-container-large, div.img-container-full {
    padding: 5px;
    border: 1px solid #E6E6E6;
    text-align: center;
    margin: 5px 5px 15px 5px;
}
div.img-container-small {
    width: 105px;
}
div.img-container-medium {
    width: 240px;
}
div.img-container-large {
    width: 320px;
}
div.img-container-full {
    width: 100%;
}
div.alignright {
    float: right;
}
div.alignleft {
    float: left;
}
div.clear {
    clear: both;
}
p.legend {
    font-size: 0.8em;
    margin: 0;
}

div.half-left, div.half-right {
    width: 460px;
    float: left;
}
div.half-left {
    margin-right: 20px;
}
div.half-left p, div.half-right p {
    margin: 0;
}

/* Highlight */
p > code {
    padding: 0.2em;
    margin: 0;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.04);
    font-size: 85%;
}

/* Others */
hr {
    margin: 30px 0;
    color: #555;
}
.underline {
    text-decoration: underline;
}

/* error 404 */
.error-404 {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
.error-404 h1 {
    font-size: 10em;
}


#wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

ul#posts h2 {
    margin: 5px 0;
}

/* Header */
#wrapper > header {
    padding: 0 0 30px;
    margin: 50px 0 10px;
    text-align: center;
    border-bottom: 4px solid #DBDBDB;
}
#wrapper > header #site-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}
#wrapper > header #site-title a {
    color: #222;
    text-decoration: none;
}
#wrapper > header #site-description {
    font-size: 0.9em;
    color: #999;
}

/* content */
#content {
    margin: 30px 0;
}

/* Footer */
#footer {
    border-top: 4px solid #DBDBDB;
    padding: 10px;
    font-style: italic;
    font-size: 0.9em;
    color: #777;
}
#footer #col-left {
    float: left;
}
#footer #col-right {
    float: right;
}

/* Home */
.post {
    margin: 0 0 30px;
}
.post h1 a, .post h1 a:hover, .post h1 a:active {
    color: black;
    font-size: 0.9em;
}
.post .thumbnail {
    border: 1px solid #E6E6E6;
    margin: 5px 15px 10px 0;
    padding: 3px;
}
.post .post-content {
    margin: 0 0 10px;
}
.post > .post-details {
    border-top: 4px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 0.7em;
}
.post p.meta {
    float: right;
}

/* Post */
article > header {
    text-align: center;
    font-size: 1.3em;
}
