<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{{ page.title }}</title>

        <meta name="author" content="{{ site.author.name }}" />
        <meta name="description" content="{{ page.description }} - {{ site.author.name }}" />
        <meta name="keywords" content="olivier, dolbeau, blog, Symfony2" />

        <!-- Twitter cards -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@{{ site.twitter.username }}" />
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        <meta name="twitter:description" content="{{ page.description | truncate: 200 }}">

        <meta name="keywords" content="olivier, dolbeau, blog, Symfony2" />

        <link rel="stylesheet" type="text/css" href="/assets/css/base.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/pygments.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/alerts.css" media="all" />

        <!-- Allow html5 elements to be style properly for IE v8 and before -->
        <!--[if lt IE9]><script src="/js/html5-ie.js"></script><![endif]-->

        {% if site.feedburner %}
            <link rel="alternate" type="application/rss+xml" href="//feeds.feedburner.com/{{ site.feedburner.id }}" title="{{ site.rss.title }}">
        {% endif %}

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.odolbeau.fr"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.babounet.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 2]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//piwik.babounet.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </head>
    <body>
        {% if site.github %}
            <a href="//github.com/{{ site.github.username }}/{{ site.github.blog_repo }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ '/assets/images/github.png' | asset_url }}" alt="Fork me on GitHub" /></a>
        {% endif %}
        <div id="wrapper">
            <header role="banner">
                <div id="site-title"><a href="/">{{ site.title }}</a></div>
                <div id="site-description">{{ site.description }}</div>
            </header>
            <div id="content">
                {{ content }}
            </div>
            <div id="footer">
                <div id="col-left">
                    <a rel="license" href="//creativecommons.org/licenses/by-nc/2.0/fr/">
                        <img alt="Licence Creative Commons" src="//i.creativecommons.org/l/by-nc/2.0/fr/80x15.png" width="80" height="15" />
                    </a>
                </div>
                <div id="col-right">
                    <p>Powered by <a href="//jekyllrb.com/" title="Jekyll official website">Jekyll</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
