---
layout: base
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name">{{ page.title }}</h1>
        <p class="meta">
            <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                {{ page.date | date_to_long_string }}
            </time>
        </p>
    </header>
    <div itemprop="articleBody">
        {{ content }}

        <p>
            <em class="fork-and-edit">
                Found a typo ? <a href="http://github.com/odolbeau/odolbeau.github.com/edit/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | remove: " -" | replace: " ", "-" | downcase }}.md">Fork and edit this post</a> would be really great. :D Thanks in advance !
            </em>
        </p>
    </div>
</article>

{% if site.related_posts != empty %}
    <div id="related-posts">
        <span class="underline">Related posts:</span>
        <ul>
            {% for post in site.related_posts limit: 3 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = 'odolbeau'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
