---
layout: base
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name">{{ page.title }}</h1>
        <p class="meta">
            <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                {{ page.date | date_to_long_string }}
            </time>
        </p>
    </header>
    <div itemprop="articleBody">
        {{ content }}

        <div class="alert alert-info">
            <h4>It's only the beginning!</h4>
            <p>
                You want to react to this post? You can do it <a href="https://twitter.com/odolbeau">on twitter</a>! :)<br />
            </p>
            <p>
                Found a typo? <a href="http://github.com/odolbeau/odolbeau.github.com/edit/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | remove: " -" | replace: " ", "-" | downcase }}.md">Fork and edit this post</a> would be really great. :D Thanks in advance!<br />
                {% if site.related_posts != empty %}
            </p>
            <p>
                Finally, you might be interested by those related articles:
                <ul>
                    {% for post in site.related_posts limit: 3 %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </p>
        </div>

    </div>
</article>
